{{- if not .Site.Params.app.noFavicon -}}
  {{- with .Site.Params.app.svgFavicon -}}
    <link rel="icon" href="{{ . }}" />
  {{- else -}}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  {{- end -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  {{- with .Site.Params.app.iconColor -}}
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ . }}" />
  {{- end -}}
  {{- if eq .Site.Params.enablePWA true -}}
    <link rel="manifest" href="/site.webmanifest" />
  {{- end -}}
{{- end -}}

{{ if .Site.Params.search.enable }}
  {{ if .Site.Params.search.algolia.app_id }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/reset-min.css"
      integrity="sha256-2AeJLzExpZvqLUxMfcs+4DWcMwNfpnjUeAAvEtPr0wU="
      crossorigin="anonymous" />
  {{ end }}
  <link rel="stylesheet" href="/css/search.min.css" />
{{ end }}

{{ if and .Site.Params.comment.enable .Site.Params.comment.waline.enable }}
  <link rel="stylesheet" href="/css/waline.min.css" />
{{ end }}

<link rel="stylesheet" href="/css/styles.min.css" />
<link rel="stylesheet" href="/css/site-shell.css" />
