{{- $page := . -}}
{{- if not .Site.Params.app.noFavicon -}}
  {{- with .Site.Params.app.svgFavicon -}}
    <link rel="icon" href="{{ partial "image_url.html" (dict "page" $page "path" .) }}" />
  {{- else -}}
    {{- if fileExists "static/favicon.ico" -}}
      <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}" />
    {{- end -}}
    {{- if fileExists "static/favicon-32x32.png" -}}
      <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}" />
    {{- end -}}
    {{- if fileExists "static/favicon-16x16.png" -}}
      <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}" />
    {{- end -}}
  {{- end -}}
  {{- if fileExists "static/apple-touch-icon.png" -}}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}" />
  {{- end -}}
  {{- with .Site.Params.app.iconColor -}}
    {{- if fileExists "static/safari-pinned-tab.svg" -}}
      <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}" color="{{ . }}" />
    {{- end -}}
  {{- end -}}
  {{- if eq .Site.Params.enablePWA true -}}
    {{- if fileExists "static/site.webmanifest" -}}
      <link rel="manifest" href="{{ "site.webmanifest" | relURL }}" />
    {{- end -}}
  {{- end -}}
{{- end -}}

{{ if .Site.Params.search.enable }}
  {{ if .Site.Params.search.algolia.app_id }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/reset-min.css"
      integrity="sha256-2AeJLzExpZvqLUxMfcs+4DWcMwNfpnjUeAAvEtPr0wU="
      crossorigin="anonymous" />
  {{ end }}
  <link rel="stylesheet" href="{{ "css/search.min.css" | relURL }}" />
{{ end }}

{{ if and .Site.Params.comment.enable .Site.Params.comment.waline.enable }}
  <link rel="stylesheet" href="{{ "css/waline.min.css" | relURL }}" />
{{ end }}

<link rel="stylesheet" href="{{ "css/styles.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "css/site-shell.css" | relURL }}" />
